#app{
    height: 100vh;
}

/* container verde in alto */
#container-green{
    height: 150px;
    width: 100%;
    background-color: #009688;
}
/* fine container verde in alto */

/* container grigio */
#container-big-grey{
    position: absolute;
    height: calc(100vh - 150px);
    width: 100%;
    margin-bottom: 0px;
    background-color: #dadbd4;
}
/* fine container grigio */

/* container principale con la chat */
#container-big-chat{
    height: calc(100vh - 50px);
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -125px;
}

/* container con i contatti */
#container-contacts{
    width: 560px;
    height: 100%;
    background-color: #ffffff;
    border-right: 2px solid #f9f9f9;
}

#user-profile{
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
}

#user-profile img{
    width: 50px;
}

#user-profile i, 
#user-profile-chat i{
    color: #c7cacb;
}

#notifications{
    height: 80px;
    width: 100%;
    background-color: #8edafc;
}

#notifications .fa-bell-slash{
    color: #8edafc;
    height: 45px;
    width: 45px;
    padding: 15px 48px 45px 15px;
    background-color: white;
}

#notifications h3{
    font-size: 15px;
}

#notifications h4{
    line-height: 0px;
}

#notifications h4 a{
    font-size: 13px;
    color: #5d7495;
}

#search-chat{
    height: 50px;
    width: 100%;
    background-color: #fafafa;
}

#user-chat h6{
    line-height: 0px;
}

#user-chat-list{
    height: calc(100vh - 100px - 70px - 80px);
    width: 100%;
    overflow-y: auto;
}

#user{
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    border-top: 2px solid #f9f9f9;
    cursor: pointer;
    user-select: none;
}

#user img{
    width: 60px;
    background-color: #ffffff;
}

#user-text h3, 
#user h4{
    color: #c7cacb;
}
/* fine container con i contatti */

/* container con la chat selezionata */
#container-chat{
    max-width: 100%;
    height: 100%;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}

/* stilizzazione messaggio utente e risposta */
#main-chat{
    height: calc(100vh - 70px - 75px);
    width: 100%;
    padding: 60px 100px 60px 100px;
    overflow-y: auto;
}

#main-chat h2{
    font-size: 20px;
}

#main-chat span{
    font-size: 13px;
    color: #c7cacb;
}

#user-message{
    width: 400px;
    background-color: #d5f9ba;
}

#reply-message{
    width: 400px;
    background-color: #ffffff;
}

#icons-chat{
    margin-left: 20px;
}
/* fine stilizzazione messaggio utente e risposta */

/* container che identifica la chat */
#user-profile-chat{
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
}

#user-profile-chat img{
    width: 50px;
}
/* sezione di scrittura in chat */
#input-chat{
    height: 75px;
    width: 100%; 
    background-color: #f3eeea;
}

#input-chat a{
    color: #6b7376;
}
/* fine sezione di scrittura in chat */
/* fine container che identifica la chat */
/* fine container con la chat selezionata */
