#app{
    height: 100vh;
}

/* stilizzazione splash page */
#splash-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#changeTheme{
    position: absolute;
    right: 250px;
    top: -5px;
    background-color: #009688;
}
/* fine stilizzazione splash page */

/* container verde in alto */
#container-green{
    height: 150px;
    width: 100vw;
    background-color: #009688;
}
/* fine container verde in alto */

/* container grigio */
#container-big-grey{
    position: absolute;
    height: calc(100vh - 150px);
    width: 100%;
    margin-bottom: 0px;
}
/* fine container grigio */

/* container principale con la chat */
#container-big-chat{
    height: calc(100vh - 50px);
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    top: -125px;
}

/* container con i contatti */
#container-contacts{
    width: 560px;
    height: 100%;
    background-color: #ffffff;
}

#user-profile{
    height: 70px;
    width: 100%;
}

#user-profile img{
    width: 50px;
}

#user-profile i, 
#user-profile-chat i{
    color: #c7cacb;
}

#user-profile i:hover{
    color: black;
}
 
#user-profile-chat i:hover{
    color: black;
}

#notifications{
    height: 80px;
    width: 100%;
}

#notifications .fa-bell-slash{
    height: 45px;
    width: 45px;
    padding: 15px 48px 45px 15px;
}

#notifications h3{
    font-size: 15px;
}

#notifications h4{
    line-height: 0px;
}

#notifications h4 a{
    font-size: 13px;
    color: #5d7495;
}

#search-chat{
    height: 50px;
    width: 100%;
}

#user-chat h6{
    line-height: 0px;
}

#user-chat-list{
    height: calc(100vh - 250px);
    width: 100%;
    overflow-y: auto;
}

#user{
    height: 80px;
    width: 100%;
    cursor: pointer;
    user-select: none;
}

#user img{
    width: 60px;
}

#user-text h2{
    font-size: 18px;
    text-wrap: nowrap;
}

#user-text h3, 
#user h4{
    font-size: 13px;
    color: #c7cacb;
}

#user h4{
    width: 110px;
    text-align: end;
}
/* fine container con i contatti */

/* container con la chat selezionata */
#container-chat{
    max-width: 100%;
    flex-grow: 1;
}

#container-chat #no-contact{
    position: absolute;
    top: 50%;
}

#container-chat #encrypted{
    position: absolute;
    bottom: 80px;
}

/* stilizzazione messaggio utente e risposta */
#main-chat{
    height: calc(100vh - 70px - 75px);
    width: 100%;
    padding: 60px 100px 60px 100px;
    overflow-y: auto;
}

#main-chat #no-contact{
    font-size: 30px;
}

#main-chat h2{
    font-size: 20px;
}

#main-chat span{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 13px;
    color: #c7cacb;
}

#main-chat #user-message span{
    right: 35px;
}

#main-chat #user-message .fa-star{
    position: absolute;
    left: 5px;
    top: 5px;
}

#main-chat #reply-message .fa-star{
    position: absolute;
    left: 5px;
    top: 5px;
}

#user-message{
    position: relative;
    flex-grow: 1;
}

#user-message .fa-check-double{
    color: #5abcda;
}

#reply-message{
    position: relative;
    flex-grow: 1;
    min-width: 120px;
}

#reply-message i{
    position: absolute;
    bottom: 18px;
    right: 10px;
}

#icons-chat{
    margin-left: 20px;
}

.dropdown .btn{
    border: transparent;
    color: #c7cacb;
}

.dropdown .btn:hover{
    color: black
}

.dropdown-menu-start {
    min-width: 350px;
    max-height: 200px;
    overflow-y: auto;
}
/* fine stilizzazione messaggio utente e risposta */

/* container che identifica la chat */
#user-profile-chat{
    height: 70px;
}

#user-profile-chat img{
    width: 50px;
}
/* sezione di scrittura in chat */
#input-chat{
    height: 75px;
    width: 100%; 
}
/* fine sezione di scrittura in chat */

/* stilizzazione barra scorrimento */
::-webkit-scrollbar {
    width: 10px; /* Larghezza della barra di scorrimento */
}

/* colore dello sfondo della barra di scorrimento */
::-webkit-scrollbar-track {
    background: transparent;
}

/* colore del manico della barra di scorrimento */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* colore del manico della barra di scorrimento al passaggio del mouse */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* fine stilizzazione barra scorrimento */

/* stilizzazione cambio tema */
.theme-light-chat {
    color: black;
    background-image: url(../img/mine.jpg);
}

.theme-dark-chat {
    color: white;
    background-image: url(../img/Senza\ titolo.jpg);
}

.theme-light-message-sent{
    background-color: #d5f9ba;
}

.theme-dark-message-sent{
    background-color: #005d4b;
}

.theme-light-message-reply{
    background-color: #ffffff;
}

.theme-dark-message-reply{
    background-color: #121b22;
}

.theme-light{
    background-color: #ffffff;
    color: black;
}

.theme-dark{
    background-color: #121b22;
    color: #65686a;
}

.theme-text-light{
    color: black;
}

.theme-text-dark{
    color: white;
}

.theme-light-active{
    background-color: #e9ebeb;
}

.theme-dark-active{
    background-color: #2b3942;
}

.theme-light-another{
    background-color: #f3eeea;
}

.theme-dark-another{
    background-color: #1f2c34;
}

.theme-light-label{
    background-color: white;
}

.theme-dark-label{
    background-color: #2b3942;
}

.theme-light-notifications{
    background-color: #8edafc;
}

.theme-dark-notifications{
    background-color: #182329;
}

.theme-light-bg-bell{
    background-color: white;
}

.theme-dark-bg-bell{
    background-color: #8edafc;
}

.theme-light-text-bell{
    background-color: white;
}

.theme-dark-text-bell{
    background-color: black;
}

.theme-light-border{
    border-right: 2px solid #e9ebeb;
}

.theme-dark-border{
    border-right: 2px solid #252e35;
}

.theme-light-border-top{
    border-top: 2px solid #e9ebeb;
}

.theme-dark-border-top{
    border-top: 2px solid #252e35;
}

.theme-light-bontainer-big{
    background-color: #dadbd4;
}

.theme-dark-container-big{
    background-color: #0d1216;
}

.theme-light-bg-emoji{
    background-color: #ffffff;
}

.theme-dark-bg-emoji{
    background-color: #1f2c34;
}
/* fine stilizzazione cambio tema */
/* fine container che identifica la chat */
/* fine container con la chat selezionata */


/* media query*/
/* versione desktop */
@media screen and (max-width: 1200px) {
    #container-big-chat{
        max-width: 80%;
    }

    #container-contacts{
        width: 500px;
    }

    #main-chat{
        padding: 60px 100px 60px 100px;
    }

    #main-chat #encrypted{
        font-size: 10px;
    }

    #user-text h2{
        font-size: 15px;
        text-wrap: nowrap;
    }

    #user-text h3, 
    #user h4{
        font-size: 10px;
    }

    #search-chat label{
        font-size: 13px;
    }

    #notifications h3, 
    #notifications h4 a{
        font-size: 10px;
    }
}

/* versione laptop */
@media screen and (max-width: 992px) {
    #container-big-chat{
        max-width: 80%;
    }

    #container-contacts{
        width: 400px;
    }

    #main-chat{
        padding: 30px;
    }

    #main-chat #encrypted{
        font-size: 10px;
    }

    #main-chat #no-contact{
        font-size: 20px;
    }

    #user-message h2
    #reply-message h2{
        font-size: 18px;
    }

    #user-message span,
    #reply-message span{
        font-size: 10px;
    }

    #user-text h2{
        font-size: 15px;
        text-wrap: nowrap;
    }

    #user-text h3, 
    #user h4{
        font-size: 8px;
    }

    #user h4{
        width: 80px;
        text-align: end;
    }

    #search-chat label{
        font-size: 13px;
    }

    #notifications h3, 
    #notifications h4 a{
        font-size: 10px;
    }

    #input-chat label{
        font-size: 8px;
    }
}

/* versione tablet */
@media screen and (max-width: 768px) {
    #container-big-chat{
        max-width: 80%;
    }

    #container-contacts{
        width: 310px;
    }

    #main-chat{
        padding: 30px 20px 30px 20px;
    }

    #main-chat #no-contact{
        font-size: 15px;
    }

    #user h4{
        font-size: 7px;
        text-wrap: nowrap;
    }

    #user-chat h6{
        display: none;
    }

    #user-message h2
    #reply-message h2{
        font-size: 13px;
    }

    #user-message span,
    #reply-message span{
        font-size: 10px;
    }

    #user #user-text h3{
        display: none;
    }

    #search-chat label{
        font-size: 10px;
    }

    #notifications h3, 
    #notifications h4 a{
        font-size: 8px;
    }

    #input-chat label{
        display: none;
    }
}

/* versione mobile */
@media screen and (max-width: 576px){
    #container-big-chat{
        max-width: 80%;
    }

    #container-contacts{
        width: 130px;
    }

    #encrypted{
        font-size: 80px;
    }

    #user-profile button{
        display: none;
    }

    #user-profile h4{
        display: block;
    }

    #notifications h3, h4{
        display: none;
    }

    #user-text h2,
    #user-text h3, 
    #user h4{
        display: none;
    }

    #user-chat h6{
        display: none;
    }

    #user-chat h2{
        display: block;
    }

    #search-chat label{
        display: none;
    }

    #input-chat label{
        display: none;
    }
}